<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	
	<br> 
	
	<a class="btnAceptar" th:href="@{/form-banco}">Agregar banco</a>
	<br>
	
	<form th:if="${!bancos.isEmpty()}" th:action="@{/buscar-banco-por-id}" th:object="${banco}" method="post">

	<table>
	
	<tr>
		<td>Introducir ID del banco: </td>
		<td> <input type="text" th:field="*{idBanco}" required /> </td>
	</tr>
	
	<br>
	
	<tr>
		<td><input class="btnAceptar" type="submit" value="Buscar" /></td>
	</tr>
	</table>

	</form>
	<br>
	<br>

	<p class="msjSuccess" th:if="${mensajeSuccess}" th:text="${mensajeSuccess}"></p>
	<p class="msjWarning" th:if="${mensajeError}" th:text="${mensajeError}"></p>
	<table th:if="${encontrarBancos}">
		<thead>
			<tr>
				<th>ID del banco</th>
				<th>Nombre</th>
				<th>Ubicacion</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bancosEn: ${encontrarBancos}"></tr>
			<tr th:each="bancosEn: ${encontrarBancos}">
				<td th:text="${bancosEn.getIdBanco()}"></td>
				<td th:text="${bancosEn.getNombre()}"></td>
				<td th:text="${bancosEn.getUbicacion()}"></td>
			</tr>
		</tbody>
	</table>
	
	<br>
	
	<p class="msjWarning" th:if="${bancos.isEmpty()}"> La lista de bancos esta vacia </p>
	
	<table>
		<thead>
			<tr>
				
				<th>ID del banco</th>
				<th>Nombre</th>
				<th>Ubicacion</th>
				
			</tr>
		</thead>
		<tbody>
		
			<tr th:each="banco:${bancos}"></tr>
			<tr th:each="banco:${bancos}">
				
				<td th:text="${banco.getIdBanco()}"></td>
				<td th:text="${banco.getNombre()}"></td>
				<td th:text="${banco.getUbicacion()}"></td>
				<td><a class="btnWarning" th:href="@{/form-banco/} + ${banco.getIdBanco()}" th:text="'Editar'"></a></td>
				<td><a class="btnDanger" th:href="@{/eliminar-banco/} + ${banco.getIdBanco()}" th:text="'Eliminar'" onclick="return confirm('¿Desea eliminar el banco?');"></a></td>
			</tr>
		</tbody>
	</table>

</body>
<br>
<a th:href="@{/}">Regresar al inicio</a>
</html>