<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet" />
</head>
<body>
	<h3 th:text="${titulo}"></h3>
	
	<br>
	<a class="btnAceptar" th:href="@{/form-cuenta}">Agregar nueva cuenta</a>
	<br>
	
	<br> 
	
	<form th:if="${!cuentas.isEmpty()}" th:action="@{/buscar-por-id}" th:object="${cuenta}" method="post">

	<table>
	
	<tr>
		<td>Introducir ID de la cuenta: </td>
		<td> <input type="text" th:field="*{idCuenta}" required /> </td>
	</tr>
	
	<br>
	
	<tr>
		<td><input class="btnAceptar" type="submit" value="Buscar" /></td>
	</tr>
	</table>

	</form>
	<br>
	<br>

	<p class="msjSuccess" th:if="${mensajeSuccess}" th:text="${mensajeSuccess}"></p>
	<p class="msjWarning" th:if="${mensajeError}" th:text="${mensajeError}"></p>
	
	<table th:if="${encontrarCuentas}">
		<thead>
			<tr>
				<th>ID</th>
				<th>ID del cliente</th>
				<th>Saldo Actual</th>
				<th>Creación</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cuentasEn: ${encontrarCuentas}"></tr>
			<tr th:each="cuentasEn: ${encontrarCuentas}">
				<td th:text="${cuentasEn.getIdCuenta()}"></td>
				<td th:text="${cuentasEn.getIdCliente()}"></td>
				<td th:text="${cuentasEn.getSaldoActual()}"></td>
				<td th:text="${cuentasEn.getCreacion()}"></td>
			</tr>
		</tbody>
	</table>
	
	<br>
	
	<p class="msjWarning" th:if="${cuentas.isEmpty()}"> La lista de cuentas esta vacia </p>
	
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>ID del cliente</th>
				<th>Saldo actual</th>
				<th>Fecha de creacion</th>
			</tr>
		</thead>
		<tbody>
		
			<tr th:each="cuenta:${cuentas}"></tr>
			<tr th:each="cuenta:${cuentas}">
				<td th:text="${cuenta.getIdCuenta()}"></td>
				<td th:text="${cuenta.getIdCliente()}"></td>
				<td th:text="${cuenta.getSaldoActual()}"></td>
				<td th:text="${cuenta.getCreacion()}"></td>
				<td><a class="btnWarning" th:href="@{/form-cuenta/} + ${cuenta.getIdCuenta()}" th:text="'Editar'"></a></td>
				<td><a class="btnDanger" th:href="@{/eliminar-cuenta/} + ${cuenta.getIdCuenta()}" th:text="'Eliminar'" onclick="return confirm('¿Desea eliminar la cuenta?');"></a></td>
			</tr>
		</tbody>
	</table>

</body>
<br>
<a th:href="@{/}">Regresar al inicio</a>
</html>