<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link href="../static/css/Layout.css" th:href="@{/css/Layout.css}" rel="stylesheet"/>
</head>
<body>
	
	<h3 th:text="${titulo}"></h3>
	
	<br> 
	<a class="btnAceptar" th:href="@{/form-tarjeta}">Agregar tarjeta</a>
	<br>
	
	<form th:if="${!tarjetas.isEmpty()}" th:action="@{/buscar-tarjeta-numeroId}" th:object="${tarjeta}" method="post">
	<table>
		<tr>
			<td> Introduce número de tarjeta o ID de la cuenta: </td>
			<td><input type="text" th:field="*{numeroTarjeta}" required /></td>
		</tr>
		<tr>
			<td><input class="btnAceptar" type="submit" value="Buscar" /></td>
		</tr>
	</table>
	</form>

	<br>
	<br>

	<p class="msjWarining" th:if="${mensajeError}" th:text="${mensajeError}"></p>
	<p class="msjSuccess" th:if="${encontrarTarjetas}" th:text="${mensajeSuccess}"></p>
	<table  th:if="${encontrarTarjetas}">
	<thead>
		<tr>
				<th>ID Tarjeta</th>
				<th>Numero de tarjeta</th>
				<th>ICV</th>
				<th>Tipo de tarjeta</th>
				<th>ID de la cuenta</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="tarjetasEn: ${encontrarTarjetas}">
			<td th:text="${tarjetasEn.getIdTarjeta()}"></td>
			<td th:text="${tarjetasEn.getNumeroTarjeta()}"></td>
			<td th:text="${tarjetasEn.getIcv()}"></td>
			<td th:text="${tarjetasEn.getTipoTarjeta()}"></td>
			<td th:text="${tarjetasEn.getCuenta().getIdCuenta()}"></td>
		</tr>
	</tbody>
	</table>
	<br>
	
	<p class="msjWarning" th:if="${tarjetas.isEmpty()}"> La lista de tarjetas esta vacia </p>
	
	<table>
		<thead>
			<tr>
				<th>ID Tarjeta</th>
				<th>Numero de tarjeta</th>
				<th>ICV</th>
				<th>Tipo de tarjeta</th>
				<th>ID de la cuenta</th>
			</tr>
		</thead>
		<tbody>
		
			<tr th:each="tarjeta:${tarjetas}"></tr>
			<tr th:each="tarjeta:${tarjetas}">
				<td th:text="${tarjeta.getIdTarjeta()}"></td>
				<td th:text="${tarjeta.getNumeroTarjeta()}"></td>
				<td th:text="${tarjeta.getIcv()}"></td>
				<td th:text="${tarjeta.getTipoTarjeta()}"></td>
				<td th:text="${tarjeta.getCuenta().getIdCuenta()}"></td>
				<td><a class="btnWarning" th:href="@{/form-tarjeta/} + ${tarjeta.getIdTarjeta()}" th:text="'Editar'"></a></td>
				<td><a class="btnDanger" th:href="@{/eliminar-tarjeta/} + ${tarjeta.getIdTarjeta()}" th:text="'Eliminar'" onclick="return confirm('¿Desea eliminar la tarjeta?');"></a></td>
			</tr>
		</tbody>
	</table>
	
</body>
<br>
<a th:href="@{/}">Regresar al inicio</a>
</html>